{
  "basic_config":{
    "server_address": ":8090",
    "database_path": "./data/app.db"
  },
  "providers": {
    "openai": {
      "model": "gpt-5-nano",
      "api_key": "",
      "base_url": "https://api.openai.com/v1"
    },
    "gemini": {
      "model": "gemini-2.5-flash",
      "api_key": "",
      "base_url": ""
    },
    "claude": {
      "model": "claude-haiku-4-5",
      "api_key": "",
      "base_url": "https://api.anthropic.com/"
    }
  }
}
