{
  "basic_config":{
    "server_address": ":8080",
    "database_path": "./data/app.db"
  },
  "ai": {
    "provider": "openai",
    "model": "gpt-5-nano",
    "api_key": "",
    "base_url": "https://api.openai.com/v1"
  },
  "assistant": {
    "provider": "openai",
    "model": "gpt-5-nano",
    "api_key": "",
    "base_url": "https://api.openai.com/v1"
  }
}
